// primary
$primaryGreyColor: #d6d6d6;
$primaryGreenColor: #008000;
$altTableWhiteRowHoverColor: #eff3f6;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #868686;
$darkGreyColor: #6c757d;

$extraLargeFontSize: 1.5rem;
